html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: gray;
  padding: 0.5em;
  color: white;
}

header a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.main {
  padding: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1em;
}

.product img {
  width: 100%;
  max-width: 400px;
}
